// color:
$primary-color-dark:#18191d;
$primary-color-effects:#ff6b08;
$color-menu:#b9b9b9;
$primary-color-white:#ffffff;
$color-hover:#d35526;
$bg-color-dark:#111517;
$color-text-gray:#858585;
$color-text-opasity:#85858580;
$color-text-footer:#fdfefe6b;
$color-line-gray:#546264;
$bg-color-gray:#f1f1f1;
$color-gray-line:#e0e0e0;
$color-underline:#ffd1b2;
// font:
$font-button:'Noto Sans', sans-serif;
$primary-font:'Montserrat', sans serif;
// other effects:
$margin-base:30px;
$main-box-shadow: 4px 6.928px 15.54px 5.46px rgba(29, 29, 27, 0.04);
$secondary-box-shadow: 4px 6.928px 23.68px 8.32px rgba(29, 29, 27, 0.11);



