.team-text {
  font-size: 11px;
  font-family: $primary-font;
  color: $color-text-gray;
  line-height: 20px;
  padding-left: 15px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 20px;
  &__last {
      margin-bottom: 0;
    }
  @media screen and(min-width:1280px) {
    font-size: 16.7px;
    line-height: 29px;
    margin-top: 30px;
    margin-bottom: 30px;
    &__last {
      margin-bottom: 0;
    }
  }
}