.team-link {
  font-size: 11px;
  font-family: $primary-font;
  color: $primary-color-effects;
  line-height: 29px;
  font-weight: normal;
  cursor: pointer;
  padding-left: 15px;
  @media screen and(min-width:1280px) {
    font-size: 16.7px;
  }
}