.form-data__input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  background-color: transparent;
  border: 1px solid $primary-color-white;
  outline: unset;
  @extend %style-form-input320;

  &::placeholder  {
    @extend %style-form-input320;
    padding-left: 0;
    @media screen and(min-width:1680px) {
      font-size: 21px;
    }
  }
  @media screen and(min-width:768px) {
    width: 400px;
  }
  @media screen and(min-width:1280px) {
    width: 625px;
    height: 70px;
    margin-bottom: 28px;
  }
}
.form-data__button {
  @extend %button-size;
  @extend %button-style;
  background-color: $primary-color-effects;
  font-size: 11px;
  font-family: $font-button;
  color: $primary-color-white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 56px;
  margin-top: 36px;
  @media screen and(min-width:768px) {
    display: block;
    margin-top: 10px;
    margin-bottom: 0;
  }
  @media screen and(min-width:768px) {
      margin-top: 10px;
      margin-bottom: 0;
  }
  @media screen and(min-width:1280px) {
    margin-top: 30px;
  }
  @media screen and(min-width:1680px) {
    font-size: 14px;
    width: 352px;
    height: 68px;
  }
}
.form-data__box {
  @media screen and(min-width:768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}