.form-data__title {
  font-size: 14px;
  font-family: $primary-font;
  color: $primary-color-white;
  font-weight: 700;
  line-height: 26px;
  padding-top: 50px;
  padding-right: 25px;
  padding-left: 25px;

  &--effect {
    color: $primary-color-effects;
  }

  @media screen and(min-width:768px) {
    font-size: 22px;
    line-height: 45px;
    padding-right: 88px;
    padding-left: 88px;
    padding-top: 60px;
  }
  @media screen and(min-width:1280px) {
    font-size: 37.5px;
    line-height: 50px;
    padding-right: 145px;
    padding-left: 145px;
    padding-top: 70px;
  }
  @media screen and(min-width:1680px) {
    padding-top: 120px;
    padding-right: 200px;
    padding-left: 200px;
  }
}
